@import url("reset.css");
@import url("../font/delight/stylesheet.css");
@import url("../font/pretendard/stylesheet.css");

@keyframes up_down {
    0% {
        transform: translateY(10px);
    }

    25% {
        transform: translateY(-5px);
    }

    50% {
        transform: translateY(17px);
    }

    75% {
        transform: translateY(-3px);
    }

    100% {
        transform: translateY(10px);
    }
}

@keyframes down_up {
    0% {
        transform: translateY(-8px);
    }

    25% {
        transform: translateY(10px);
    }

    50% {
        transform: translateY(-6px);
    }

    75% {
        transform: translateY(9px);
    }

    100% {
        transform: translateY(-8px);
    }
}

@keyframes twinkle {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes site_scroll {
    0% {
        background-position: top;
    }

    50% {
        background-position: bottom;
    }

    100% {
        background-position: top;
    }
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(12px);
    }

    100% {
        transform: translateY(0px);
    }
}


body {
    position: relative;
    overflow-x: hidden;
    color: #111;
    font-family: 'Virgo Delight';
    line-height: 1.3;
}

section {
    height: 100vh;
}

h5 {
    font-size: 80px;
    text-align: center;
    margin-top: 50px;
    line-height: 1.2;
    color: #fff;
}

/* header */
#wrap {
    position: relative;
    background: url('../img/bg.gif');
}

.header {
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
}

.header .gnb {
    max-width: 1560px;
    width: calc(100% - 20px);
    margin: 0 auto;
    height: 100%;
    font-size: 18px;
    color: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 28px;
    transition: 0.3s;
}

.header .gnb.black {
    color: inherit;
}

.header .gnb li {
    display: block;
    line-height: 50px;
}

/* main_visual */
.main_visual {
    height: 100vh;
    position: relative;
}

.main_visual .sub_title {
    color: #fff;
    font-size: 28px;
    padding-bottom: 40px;
    /* font-family: 'Pretendard';
    font-weight: 500; */
}

.huge-hero,
.stroke {
    --z: -10.4166666667vw;
    --perspective-x: 0;
    --perspective-y: 0;
    --color-accent: rgba(145, 132, 218, 0.6);
    font-size: 150px;
    line-height: 1;
    text-shadow: calc(-0.02em*(1 + var(--perspective-x))) calc(.02em*(1 + var(--perspective-y))) 0 var(--color-accent), calc(-0.04em*(1 + var(--perspective-x))) calc(.04em*(1 + var(--perspective-y))) 0 var(--color-accent), calc(-0.06em*(1 + var(--perspective-x))) calc(.06em*(1 + var(--perspective-y))) 0 var(--color-accent), 0 .35em .3em rgba(208, 105, 255, 0.3), 0 .25em .2em rgba(82, 84, 187, 0.6);

    color: transparent;
    -webkit-text-stroke: 1.5px white;
}

.homepage-header__title--bottom {
    font-size: 220px;
}

.main_line {
    perspective: 10000px;
    position: absolute;
    top: 82%;
    left: 70%;
}

.main_line svg {
    stroke-dasharray: 2000;
    stroke-dashoffset: 0;
}

#text_mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#text_top {
    position: absolute;
    bottom: 2%;
    left: 2%;
}

#text_bottom {
    position: absolute;
    top: 2%;
    right: 2%;
}

#top_sq_01,
#top_sq_02,
#bottom_sq_01,
#bottom_sq_02 {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #fff;
}

#top_line,
#bottom_line {
    width: 1px;
    height: 300px;
    margin: 0 auto;
    background-color: #fff;
}


/* wh_start */
.wh_start {
    overflow: hidden;
    position: relative;
}

.wh_start span {
    display: blcok;
    background-color: #eee;
    width: 2500px;
    height: 2500px;
    border-radius: 50%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
}

.wh_start .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);

    text-align: center;
    font-size: 48px;
    line-height: 1.2;
    z-index: 5;
}


/* profile */
.profile {
    background-color: #eee;
    display: flex;
    font-family: 'Pretendard';
    font-weight: 400;
    font-style: normal;
    position: relative;
}

.profile .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    z-index: 1;
}

.profile .inner .main_profile .image {
    height: 350px;
    width: 200px;
    position: relative;
}

.profile .inner .main_profile .image img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    object-fit: cover;
    z-index: 999;
}

.profile .inner .main_profile .image svg {
    position: absolute;
    top: 50%;
    left: -50%;
    transform: translateY(-50%);
    z-index: 1;
}

.profile .inner .main_profile .basic_info {
    margin-top: 150px;
}

.profile .inner .main_profile li {
    margin-bottom: 16px;
    display: flex;
}

.profile .inner .main_profile li span {
    display: block;
    font-size: 20px;
}

.profile .inner .main_profile .info_t {
    margin-right: 20px;
    width: 150px;
    font-weight: 600;
}

.profile .inner .sub_profile>div {
    margin-bottom: 80px;
}

.profile .inner .sub_profile p {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.profile .inner .sub_profile li {
    margin-bottom: 12px;
}

.profile .inner .sub_profile .date {
    color: #b4b4b4;
    font-weight: 500;
    padding-left: 8px;
}

.profile .inner .sub_profile .skill ul {
    display: flex;
    column-gap: 20px;
}

.profile .inner .sub_profile .skill img {
    height: 35px;
    display: block;
}

.profile .inner .sub_profile a {
    display: inline-block;
    border: 1px solid #1c1c1c;
    border-radius: 100px;
    padding-inline: 80px;
    padding-block: 10px;
}

.profile #text_mask {
    filter: invert(1);
}



/* renewal */
.renewal {
    background-color: #eee;
    font-family: 'Pretendard';
    font-weight: 400;
    font-style: normal;
    height: auto;
}

.renewal .inner {
    max-width: 1200px;
    margin: 0 auto;
    padding-block: 150px;

}

.renewal .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 300px;
}

.renewal .item:last-child {
    margin-bottom: 0;
}

.renewal .item .mockup {
    position: relative;
}

.renewal .item .mockup .pc {
    width: 800px;
    height: 650px;
    position: relative;
}

.renewal .mockup .pc span {
    width: 650px;
    height: 363px;
    position: absolute;
    top: 36px;
    left: 18px;
}

.renewal .item .mockup .mobile {
    width: 160px;
    height: 340px;
    position: absolute;
    right: 75px;
    bottom: 40px;
}

.renewal .item .mockup .mobile span {
    width: 145px;
    height: 314px;
    position: absolute;
    top: 14px;
    right: 7px;
    border-radius: 20px;
}

.renewal .info_text p {
    font-size: 44px;
    margin-bottom: 12px;
    font-weight: 600;
}

.renewal .info_text>span {
    font-size: 20px;
}

.renewal .info_text ul {
    margin-top: 56px;
    margin-bottom: 80px;
}

.renewal .info_text ul li {
    margin-bottom: 20px;
    display: flex;
    column-gap: 30px;

    font-size: 18px;
}

.renewal .info_text ul li span {
    display: block;
    align-items: center;
}

.renewal .info_text ul .list_type {
    font-weight: 600;
    width: 80px;
}

.renewal .bamu_hotel .mockup .pc {
    background: url('../img/바뮤_목업.png') center center / 100% no-repeat;
}

.renewal .bamu_hotel .mockup .pc span {
    background: url('../img/바뮤_스크롤.png') 0 0 / 100% no-repeat;
}

.renewal .oa .mockup .pc {
    background: url('../img/오아_목업.png') center center / 100% no-repeat;
}

.renewal .oa .mockup .pc span {
    background: url('../img/오아_스크롤.JPG') center top / 104% no-repeat;
}

.renewal .tabling .mockup .pc {
    background: url('../img/테이블링_목업.png') center center / 100% no-repeat;
}

.renewal .rawrow .mockup .pc {
    background: url('../img/로우로우_목업PC.png') center center / 100% no-repeat;
}

.renewal .rawrow .mockup .pc span {
    background: url('../img/로우로우_스크롤PC.png') center top / 120% no-repeat;
}

.renewal .rawrow .mockup .mobile {
    background: url('../img/로우로우_목업M.png') center center / 100% no-repeat;
}

.renewal .rawrow .mockup .mobile span {
    background: url('../img/로우로우_스크롤M.png') center top / 100% no-repeat;
}

.renewal .mockup span:hover {
    animation: site_scroll 15s ease-in-out infinite;
}

.renewal .site_wrap {
    display: flex;
    column-gap: 36px;
}

.renewal .site_wrap a {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 12px;
    border: 2px solid #111;
    border-radius: 100px;
    font-weight: 500;
    transition: 0.3s;
    box-shadow: rgba(112, 112, 112, 0.07) 0px 1px 2px, rgba(112, 112, 112, 0.07) 0px 2px 4px, rgba(112, 112, 112, 0.07) 0px 4px 8px, rgba(112, 112, 112, 0.07) 0px 8px 16px, rgba(112, 112, 112, 0.07) 0px 16px 32px, rgba(112, 112, 112, 0.07) 0px 32px 64px;
    ;
}

.renewal .site_wrap a:hover {
    background-color: #111;
    color: #fff;
}

.renewal .site_wrap .line_color {
    border-color: #9184da;
    color: #fff;
    background-color: #9184da5d;
}

.renewal .site_wrap .line_color:hover {
    background-color: #9184da;
}



/* wh_end */
.wh_end {
    position: relative;
    overflow: hidden;
}

.wh_end .circle02 {
    width: 2500px;
    height: 2500px;
    border-radius: 50%;
    background-color: #eee;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}



/* clone */
.clone {
    position: relative;
}

.clone .C_title p {
    margin-top: 20px;
    text-align: center;
}

.clone .C_title {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
}

.clone .C_line svg {
    display: block;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    stroke-dasharray: 3000;
    stroke-dashoffset: 3000;
}

.clone .C_line02 {
    transform: translate(-50%, -50%) !important;
}

.clone .s_item {
    position: absolute;
    cursor: pointer;
}

.clone .s_item img {
    width: 250px;
}

.clone .s_item a {
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: transparent;
    transition: 0.3s;
}

.clone .s_item:hover {
    animation: none !important;
}

.clone .s_item:hover a {
    background-color: #1111119c;
    backdrop-filter: blur(1px);
    color: #fff;
}

.clone .s_item .relative {
    position: relative;
}

.clone .s_item:hover~.b_item {
    transform: translateY(-50%) scale(1);
}


.clone .b_item {
    width: 450px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    backdrop-filter: blur(4px);

    position: absolute;
    top: 50%;
    left: 4%;
    transform: translateY(-50%) scale(0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-inline: 20px;
    transition: 0.3s;

    font-family: 'Pretendard';
    font-weight: 400;
}

.clone .b_item_right {
    left: auto;
    right: 4%;
}

.clone .b_item video {
    width: 400px;
    height: auto;
}

.clone .b_item p {
    margin-top: 24px;
    color: #fff;
    padding: 10px;
}

.clone .jeulgeoun .s_item {
    top: 67%;
    left: 30%;
}

.clone .festival .s_item {
    top: 14%;
    left: 25%;
}

.clone .skelterlabs .s_item {
    top: 20%;
    right: 32%;
}

.clone .moneytree .s_item {
    top: 71%;
    right: 29%;
}



/* graphic_design */
.graphic_design {
    position: relative;
}

.graphic_design .title_wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.graphic_design .title_wrap p {
    font-size: 20px;
    color: #fff;
    text-align: center;
    margin-top: 20px;
}

.graphic_design .image_wrap {
    width: 100%;
    height: 100%;
    position: relative;
}

.graphic_design .image_wrap .image_position {
    position: absolute;
}

.graphic_design .image_wrap .image_position:nth-child(1) {
    top: 10%;
    left: 70%;
}

.graphic_design .image_wrap .image_position:nth-child(2) {
    top: 12%;
    left: 40%;
}

.graphic_design .image_wrap .image_position:nth-child(3) {
    bottom: 2%;
    left: 6%;
}

.graphic_design .image_wrap .image_position:nth-child(4) {
    top: 50%;
    left: 80%;
}

.graphic_design .image_wrap .image_position:nth-child(5) {
    top: 7%;
    left: 10%;
}

.graphic_design .image_wrap .image_box {
    width: 300px;
    position: relative;
    transform-origin: center;
    transform-style: preserve-3d;
}

.graphic_design .image_wrap .image_box:nth-child(odd) {
    height: 300px;
}

.graphic_design .image_wrap .image_box:nth-child(even) {
    height: 450px;
}

.graphic_design .image_wrap .image_box .image_f {
    backface-visibility: hidden;
    z-index: 1;
}

.graphic_design .image_wrap .image_box .image_b {
    transform: rotateY(180deg);
}

.graphic_design .image_wrap .image_box .image_f,
.graphic_design .image_wrap .image_box .image_b {
    position: absolute;
    top: 0;
    left: 0;
}

.graphic_design .image_wrap .image_box .image_f img,
.graphic_design .image_wrap .image_box .image_b img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}





/* contact */
.contact {
    position: relative;
}

.contact .text_wrap {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.contact h5 {
    font-size: 120px;
    text-align: center;
    padding-top: 120px;
}

.contact .image_wrap img {
    position: absolute;
}

.contact .image_wrap .planet {
    width: 400px;
}

.contact .image_wrap .planet_t {
    top: 10%;
    right: -12%;
    animation: up_down 5s linear infinite;
}

.contact .image_wrap .planet_b {
    bottom: 6%;
    left: -5%;
    animation: down_up 5.2s linear infinite;
}

.contact .image_wrap .star_t {
    width: 100px;
    top: 10%;
    left: 13%;
    animation: twinkle 4s infinite;
}

.contact .image_wrap .star_m {
    width: 130px;
    top: 60%;
    right: 7%;
    animation: twinkle 4s 1s infinite;
}

.contact .image_wrap .star_b {
    width: 120px;
    bottom: 8%;
    left: 25%;
    animation: twinkle 4s 1.5s infinite;
}

.contact .wh_box {
    width: 700px;
    height: 380px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    backdrop-filter: blur(4px);
    padding-block: 40px;
    padding-inline: 24px;
    margin: 60px auto 0;
    z-index: 99;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.contact .wh_box .inner {
    height: 100%;
    padding-inline: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact .wh_box .sns_wrap {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
}

.contact .wh_box img {
    width: 150px;
}

.contact .wh_box ul {
    font-family: 'Pretendard';
    font-weight: 500;
}

.contact .wh_box p {
    font-size: 40px;
    color: #fff;
    text-align: center;
}

.contact .wh_box ul {
    margin-top: 24px;
}

.contact .wh_box ul li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 24px;
    font-size: 24px;
    color: #fff;
}

.contact .wh_box ul li:last-child {
    margin-top: 20px;
}

.contact .wh_box ul .icon {
    width: 22px;
    height: 22px;
    display: block;
    background-color: #fff;

    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-size: contain;
    -webkit-mask-size: contain;
    mask-position: center;
    -webkit-mask-position: center;
}

.contact .wh_box ul .icon_k {
    mask-image: url('../img/call.png');
    -webkit-mask-image: url('../img/call.png');
}


.contact .wh_box ul .icon_m {
    mask-image: url('../img/mail.png');
    -webkit-mask-image: url('../img/mail.png');
}

.contact .wh_box .flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.contact .wh_box .flex a {
    text-align: center;
    background-color: #9184da;
    color: #fff;
    box-shadow: 4px 2px 8px #9184da2c;
    width: 250px;
    padding-block: 8px;
    border-radius: 2px 20px 2px 20px;
    transition: transform 0.3s;
}

.contact .wh_box .flex a:hover {
    transform: scale(1.1);
    border: 2px solid #fff;
    box-shadow: 4px 2px 8px #9184da7e;
}

.contact>span {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    color: #fff;
    font-family: 'Pretendard';
    font-weight: 200;
    font-size: 14px;
}