@import url("reset.css");

body {
    position: relative;
    overflow-x: hidden;
}
section {
    margin-bottom: 120px;
    height: 100vh;
    border: 3px solid blue;
}

/* #intro */
.intro {
    position: absolute;
    z-index: 9;
    display: none;
}

.intro video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.intro .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-size: 120px;
}

.intro .ti-cursor {
    font-size: 120px;
}

.small-text {
    font-size: 50px;
}

/* header */
#wrap {
    position: relative;
    background: url('../img/bg.gif');
}

.header {
    width: 100%;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}

.header .gnb {
    max-width: 1560px;
    width: calc(100% - 20px);
    margin: 0 auto;
    height: 100%;
    color: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 20px;
}

.header .gnb li {
    display: block;
    line-height: 50px;
}

/* main_visual */
.main_visual {
    height: 100vh;
    position: relative;
}

.main_visual .main_text {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: start;
    --perspective-x: 0;
    --perspective-y: 0;
    --color-accent: rgba(145, 132, 218, 0.6);
    font-size: 150px;
    color: #fff;
    line-height: 1.2;
    text-shadow: calc(-0.02em*(1 + var(--perspective-x))) calc(.02em*(1 + var(--perspective-y))) 0 var(--color-accent), calc(-0.04em*(1 + var(--perspective-x))) calc(.04em*(1 + var(--perspective-y))) 0 var(--color-accent), calc(-0.06em*(1 + var(--perspective-x))) calc(.06em*(1 + var(--perspective-y))) 0 var(--color-accent), 0 .35em .3em rgba(208, 105, 255, 0.3), 0 .25em .2em rgba(82, 84, 187, 0.6);

    position: absolute;
    top: 0;
    left: 0;
}

.main_visual h3 {
    color: transparent;
    -webkit-text-stroke: 1px white;
}

.main_visual h3:first-child {
    transform: translateX(-30%);
}

.main_visual h3:last-child {
    transform: translateX(30%);
}

.main_visual .main_line {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-20%, -30%);
}

.main_visual .main_line svg:last-child {
    transform: translateY(-100px);
}

#text_mask {
    position: absolute;
    width: 100%;
    height: 100%;
}

#text_top {
    position: absolute;
    bottom: 2%;
    left: 2%;
}

#text_bottom {
    position: absolute;
    top: 2%;
    right: 2%;
}

#top_sq_01,
#top_sq_02,
#bottom_sq_01,
#bottom_sq_02 {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #fff;
}

#top_line,
#bottom_line {
    width: 1px;
    height: 300px;
    margin: 0 auto;
    background-color: #fff;
}

.project h5 {
    font-size: 80px;
    color: #fff;
    text-align: center;
    margin-block: 70px;
}

.P_line svg {
    display: block;
    margin:  0 auto;
}

.P_line .circle_02 {
    transform: scaleY(-1) translateY(100%);
}