@font-face {
    font-family: 'Virgo Delight';
    src: url('VirgoDelight.woff2') format('woff2'),
        url('VirgoDelight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Virgo Delight';
    src: url('VirgoDelight.woff2') format('woff2'),
        url('VirgoDelight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

